*{
    list-style: none; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    position:relative;
 }
 #signup{
    border: 2px solid black;
    position: absolute;
    width: 50%;
    left: 28%;
    top:8%;
    border-radius: 40px;  
    border: 0px;
    background-color: rgb(210, 243, 243);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
 }
#login{
    border: 2px solid black;
    position: absolute;
    width: 35%;
    left: 34%;
    top:15%;
    border-radius: 40px;
    border: 0px;
    background-color: rgb(210, 243, 243);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
}

#name_log{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%; 
}
#textDiv{
    width: 60%;
    position: fixed;
    left: 18%;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #navbar{
     display:  flex;
     justify-content: space-between;
     font-size: 18px;
     box-shadow: rgba(233, 5, 5, 0.24) 0px 3px 8px;
     position:fixed;
     width: 100%;
     background-color: rgb(224, 245, 240);
     z-index: 1;
 }
 .text_logo{
    width:60px;
    height:55px;
    border-radius: 10px;
 }
 html{
     scroll-behavior: smooth;
 }
 #check{
    display: none;
}
 #name_log{
    padding: 5px 0px;
}
 #navbar>div:nth-child(1){
    margin-left: 2%;
}
 #navbar>div:nth-child(2){
     display: flex;
     justify-content:flex-end;
     width: 40%;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: 3%;
 }
 #navbar>div:nth-child(2)>li{
     cursor: pointer;
     border-radius: 10px;
     text-align: center;
     /* margin: auto; */
     padding: 5px 20px;
 }
 
#navbar>div:nth-child(2)>li>a{
     color: rgb(63, 53, 51);
     text-decoration: none;
 }

 .menu_div{
    background-color: rgb(224, 245, 240);
 }
 #menu{
     font-size: 25px;
     margin-left: 20px;
     display: none;
     background-color: rgb(224, 245, 240);
     cursor: pointer;
     padding: 10px 0px;
 }
 #slide_menu{
    background-color: rgb(224, 245, 240);
     text-align: center;
     padding: 5px 0px;
     display: flex;
     flex-direction: column;
     position:fixed;
     width: 100%;
     top: -100%;
     transition: all .5s;
 }
 #slide_menu>li{
     padding: 8px 10px;
     width:auto;
     margin: auto;
 }
 #slide_menu>li>a{
     text-decoration: none;
     color: black;
 }
 #cencel{
     position: absolute;
     top: 20px;
     right: 20px;
     cursor: pointer;
 }


 
.signupForm{
    display: flex;
    column-gap: 10%;
    padding: 2%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 2%;
}
.signupForm>div{
    width: 60%;
    display: grid;
    margin: auto;
    margin-top: 0%;
    margin-left: 8%;
}
.signupForm>div>label{
    font-size: 20px;
}
body{
    background-color: rgb(253, 254, 254);
}
.classTitle{
    font-size: 25px;
    margin-bottom: 4%;
    font-weight: bolder;
}
.signupForm>div>input{
    width: 70%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 4px;
    background-color: rgb(216, 240, 240);
    border: 1px solid black;
}
.signupHeading,.loginHeading{
    font-size: 30px;
    margin-left: 42%;
    font-weight: bolder;
}
#signupButton{
    width: 40%;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 2%;
    font-weight: bolder;
    font-size: 18px;
}

.quitter{
    font-size: 25px;
    margin-right: 3%;
 }

.loginForm{
    display: grid;
    padding: 3%;
    
}
.toggleButton{
    width: 50%;
    height: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 247, 247);
    border-radius: 10px;
    transition: ease-in-out(.5s);
}
.toggleButton>div{
    padding-top: 5% ;
    padding-bottom: 5%;
    border-radius: 10px;
}
#loginData{
    display: grid;
    margin: auto;
    margin-top: 4%;
}
#loginData>input{
    width: 100%;
    margin-top: 4%;
    margin-bottom: 12%;
    border-radius: 4px;
}
#adminToggle{
    background-color: black;
    color: white;
}
.content{
    padding-top: 6%;
}
.adminToggle1,.customerToggle1{
    margin-top: 6%;
    z-index: 1;
}
.adminToggle1,.customerToggle1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: fixed;
    background-color: rgb(219, 244, 248);
    width: 100%;

    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 10px;
}
.adminToggle1{
    /* width: 30%; */
    /* left: 31%; */
    display: flex;  
    justify-content: space-between;
    
}
.customerToggle1>div,.adminToggle1>div{
    border-radius:6px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    /* padding: 3%; */
}
.adminToggle1>div{
    width: 100%;
}
.planterToggle{
    background-color: rgb(56, 54, 54);
    color: white;
}

.container{
    padding-top: 10%;
    display: flex;
    position: relative;
}
.container>div{
        padding: 0%;
        background-color: black;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        border:2px solid grey
}
.sideMethods{
    width: 20%;
}
.sideMethods>div{
    margin-top: 3%;
    padding-left: 10%;
    margin-bottom: 3%;
}

.content{
    width: 80%;
}
.contentData{
    padding-left: 2%;
    padding-top: 0.8%;
}
.contentData>h1{
    margin-bottom: 2%;
}
.requestForm>input{
    margin-top: 1%;
    border-radius: 5px;
}
.contentData{
    display: none;
}
.container{
    display: none;
}

#acontainerPlanter{
    display:flex;
}
/* #Admin{
    display: none;
} */


#mobile_view{
    background-color: red;
    width: 100%;
    padding: 10px 10px;
    z-index: 1;
    position: fixed;
    margin-bottom: 200px;
    display: none;
}
#mobile_view>label>i{
    font-size: 25px;
    
}
.check_mobile{
    display: none;
}
.mobile_navbar{
    
    width: 70%;
    margin-left: 15%;
    border-radius: 20px;
    background-color: aqua;
    height: 100px;
    text-align: center;
    align-items: center;
    z-index: 1;
    transition: all 1s;
    position: absolute;
    margin-top: 100px;
    top: -100%;
    display: none;
    
}
#mobile_nav_cencel{
   position: absolute;
   padding: 5px;
   right: 5px;
   top: 5px;
   font-size: 20px;
}
.mobile_button{
    margin-top: 35px;
    padding: 5px 25px;
    border-radius: 20px;
}
.content{
    margin-top:50px ;
}

.sideMethods{
    margin-top: 50px;
}




#slide_menu>li>a:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    width: auto;
    margin: auto;
    padding: 8px 20px;
    border-radius: 30px;
}
#navbar>div>li:hover{
    cursor: pointer;
}
#navbar>div>li:hover a{
   color: black;
   zoom: 120%;
}
#signupButton:hover{
    background-color: black;
    color: white;
}
#adminToggle:hover ,#customerToggle:hover{
    cursor: pointer;
    background-color: rgb(172, 205, 222);
    color: white;
}
.adminToggle1>div:hover,.customerToggle1>div:hover{
    background-color: rgb(56, 54, 54);
    color: white;
}
.sideMethods>div:hover{
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
}
.navbarTitleChangers{
    font-size: 30px;
    margin-left: 10%;
}

@media (max-width:1000px) and (min-width:700px){
    *{
        font-size: 20px;
    }
    #navbar{
        font-size: 15px;
    }
    .adminToggle1{
        margin-top: 12%;
    }
    .content{
        margin-top: 10%;
    }
    .sideMethods{
        margin-top: 10%;
        font-size: 15px;
    }
    .sideMethods>div{
        font-size: 16px;
        padding: 5px 0px;
        text-align: center;
    }
 }
 
 @media (max-width:699px) and (min-width:100px){
    *{
    font-size: 12px;
    }
    .mobile_navbar{
        display: block;
    }

    h1{
        font-size: 17px;
    }
    #mobile_view{
        display: block;
    }

    .adminToggle1{
        width: 100%;
        padding: 10px 0px;
        display: flex;
        margin-top: 25%;
        z-index: 0; 
        cursor: pointer;
    }
    .customerToggle1{
        width: 100%;
        padding: 10px 0px;
        display: flex;
        margin-top: 25%; 
        z-index: 0;
       cursor: pointer;
    }
   .adminToggle1>.planterToggle{
    font-size: 15px;
   }
   .adminToggle1>.plantToggle{
    font-size: 15px;
   }
   .adminToggle1>.seedToggle{
    font-size: 15px;
   }
   .customerToggle1>.planterToggle {
    font-size: 17px;
   }
   .customerToggle1>.plantToggle {
    font-size: 17px;
   }
   .customerToggle1>.seedToggle {
    font-size: 17px;
   }
   .customerToggle1>.orderToggle {
    font-size: 17px;
   }
   .customerToggle1>.profileToggle {
    font-size: 17px;
   }
    .content{
        margin-top: 150px;
        width: 65%;
    }
    .requestForm>input{
        width: 95%;
        padding: 5px 0px;
        margin-top: 5px;
    }
    
    .sideMethods{
        margin-top:150px;
        width: 35%;
    }
    .sideMethods>div{
        font-size: 12px;
        padding: 5px 0px;
        text-align: center;
    }
    .sideMethods>div:hover{
        background-color: blue;
        cursor: pointer;
    }
     #navbar{
         display: none;
     }
     .menu_div
     {
         position: fixed;
         width: 100%;
     }
     #menu{
         display: block;
     }

     .header>label{
        font-size: 20px;
        text-align: center;
     }
     

     #signup{
        width: 80%;
        left: 10%;
     }
     .signupForm>div>label{
        font-size: 15px;
     }
     .signupForm>div>input{
        width: 90%;
        padding: 10px 0px;
        font-size: 11px;
        border-radius: 10px;
     }
     #signupButton{
        width: 100%;
        padding: 0px 10px;
        border-radius: 10px;
        background-color: black;
        color: white;
        cursor: pointer;
        font-size: 16px;
     }
     #login{
        width: 80%;
        left: 10%;
     }
     .loginForm>div>label{
        font-size: 20px;
     }
     #loginData>input{
        padding: 6px 10px;
     }
     #loginData>label>span{
        font-size: 16px;
     }
     .adminToggle{
        font-size: 16px;
        cursor: pointer; 
    }
     .customerToggle{
        font-size: 16px;
        cursor: pointer;
     }
     
 }


 